#######################################################################
# SERVO ARM CONFIGURATION  (Interal Use)
#######################################################################
[servo poop_arm]
pin: PG12
maximum_servo_angle: 180
minimum_pulse_width: 0.0010    # extend deploy side (0°)
maximum_pulse_width: 0.0025    # retract side (180°)
initial_angle: 2               # start retracted

[delayed_gcode INIT_POOP_SERVO]
initial_duration: 1
gcode:
    M117 🟡 Initializing Poop Arm
    SET_SERVO SERVO=poop_arm ANGLE=0
    G4 P500
    SET_SERVO SERVO=poop_arm WIDTH=0
    M117 🔵 Poop Arm Ready



[gcode_macro POOP_DEPLOY]
description: Deploy poop arm to catch purge
gcode:
    SET_SERVO SERVO=poop_arm ANGLE=2
    M117 🟢 Poop Arm Deployed

[gcode_macro POOP_RETRACT]
description: Retract poop arm
gcode:
    SET_SERVO SERVO=poop_arm ANGLE=180
    G4 P200
    SET_SERVO SERVO=poop_arm WIDTH=0
    M117 🔵 Poop Arm Retracted
