#######################################################################
# SERVO ARM CONFIGURATION  (Interal Use)
#######################################################################
[servo poop_arm]
Pin: PG13
Maximum_servo_angle: 180
Minimum_pulse_width: 0.0010    # extended deploy side (0)
Maximum_pulse_width: 0.0025    # retract side (180)
initial_angle: 2               # start retracted