#######################################################################
# SERVO ARM CONFIGURATION  (Interal Use)
#######################################################################
[servo poop_arm]
Pin: PG13
Maximum_servo_angle: 180
Minimum_pulse_width: 0.0010    # extended deploy side (0)
Maximum_pulse_width: 0.0025    # retract side (180)
initial_angle: 2               # start retracted

[delayed_gcode INIT_POOP_SERVO]
initial_duration:1
gcode:
 M117 initializing poop arm
 SET_SERVO SERVO=poop_arm Angle=0
 G4 P500
 SET_SERVO SERVO=poop_arm WIDTH=0
 M117 Poop Arm Ready

[gcode_macro POOP_DEPLOY]
description: Deploy poop arm to catch purge
gcode:
    SET_SERVO SERVO=poop_arm Angle=2
    M117 Poop Arm Deployed

[gcode_macro POOP_RETRACT]
description: Retract poop arm
gcode:
   SET_SERVO SERVO=poop_arm ANGLE=180
   G4 P200
   SET_SERVO SERVO=poop_arm WIDTH=0
   M117 Poop Arm Retracted